:root {
    --color-blue : #336699;
    --color-pink : #dc143c;
    --font-primary: Lato;
}

body {
    font-family: var(--font-primary);
}

.text-blue { color: var(--color-blue);}
.text-pink { color: var(--color-pink);}


.logo {
    font-size: 25px;
    color: var(--color-blue);
}


.navbar-toggler {
    box-shadow: none !important;
}

.navbar-toggler:focus {
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}   

.nav-link {
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-link:hover, .logo:hover {
    color: var(--color-blue);
}

.plataforma {
    min-height: 50vh;
    background-color: var(--color-pink);
}